.clearfix::after {
  content: "";
  display: block;
  clear: both;
}


/* Header style start */

.navbar-nav > li > .dropdown-menu {
  margin-top: 5px;
}

.logo-container {
  width: 5%;
  padding: 10px;
}

.logo {
  width: 30px;
}

.search-field {
  padding: 0px;
  width: 30%;
}

.form-group {
  width: 100%;
}

.navbar-form .form-group .search-input {
  width: 100%;
}

.navbar-default .navbar-nav .nav-link {
  color: #625555;
  font-size: 13px;
  font-weight: bold;
}

.navbar-default .navbar-nav .nav-link.hover-item:hover {
  color: #4078C0;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #4078C0;
}

.plus-caret {
  font-size: 20px;
}

.caret {
  border-width: 5px;
}

.dropdown-header-item {
  display: block;
}
.menu-user-name {
  font-weight: bold;
}

.dropdown-menu.caret-menu::after {
  content: "";
  position: absolute;
  right: 10px;
  top: -20px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 10px 10px 10px;
  border-color: transparent transparent #ffffff transparent;
  z-index: 9999;
}

.avatar {
  width: 20px;
}

/* Header style end */

/* Main content style start */

/*Button with user menu start*/

.content-avatar {
  width: 30px;
}

.menu-user-name.content {
  height: 30px;
  display: inline-block;
  line-height: 30px;
}

.dropdown-menu.user-menu {
  width: 35%;
  padding-top: 0;
}

.dropdown-menu-header {
  background-color: #F5F5F5;
  font-weight: bold;
  border: solid 1px #d8d8d8;
  border-top: none;
  padding: 8px 10px;
}

.menu-logo {
  width: 15px;
  margin-left: 7px;
}

.check-sumbol {
  display: inline-block;
  width: 12px;
}

.hidden-symbol {
  visibility: hidden;
}

.support-menu-logo {
  width: 30px;
  margin-left: -10px;
}

.plus-symbol {
  margin-right: 10px;
}

/*Button with user menu end*/

.dashboard {
  border: solid 1px #d8d8d8;
  margin-top: 15px;
  padding: 5px;
}

.icon-button-dashboard-wrapper {
  padding-right: 10px;
  font-weight: bold;
}

.support-icon {
  width: 40px;
}

.dashboard-header {
  display: inline-block;
  margin: 0 0 0 45px;
  font-size: 18px;
}
.close-news {
  float: right;
    padding: 0;
    background: transparent;
    border: 0;
    outline: none;
}

.dashboard-menu-wrapper {
  margin-left: 10px;
  }

.dashboard-paragraph {
  margin: 10px 0 10px 45px;
  }

.dashboard-menu-list {
  margin-left: 20px; 
}

.inset-picture {
  float: right;
    margin-bottom: 15px;
    margin-left: 20px;
}


.news-list-item {
  margin-bottom: 10px;
}













.panel.panel-default {
  border: none;
}
.last-commits-panel {
  margin-top: 25px;
}

.commits-panel {
  padding: 10px;
  border-top: 1px solid #f1f1f1;
}

.fork-symbol {
  width: 15px;
  margin-right: 5px;
}

.text-link {
  color: #4078C0;
  text-decoration: none;
}

.forked-date {
  color: grey;
}







.textinfo {
  text-align: center;
  margin-top: 30px;
}

.subscribe-symbol {
  width: 15px;
}

.bold-text {
  font-weight: bold;
}

.subscribe-link-news {
  text-decoration: none;
  color: black;
}

.link-wrapper {
  margin-top: 15px;
}