.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.grey-text {
  color: #767677;
}

/* Header style start */

.navbar-nav > li > .dropdown-menu {
  margin-top: 5px;
}

.logo-container {
  width: 5%;
  padding: 10px;
}

.logo {
  width: 30px;
}

.search-field {
  padding: 0px;
  width: 30%;
}

.form-group {
  width: 100%;
}

.navbar-form .form-group .search-input {
  width: 100%;
}

.navbar-default .navbar-nav .nav-link {
  color: #625555;
  font-size: 13px;
  font-weight: bold;
}

.navbar-default .navbar-nav .nav-link.hover-item:hover, .navbar-default .navbar-nav>li>a:hover {
  color: #4078C0;
}

.plus-caret {
  font-size: 20px;
}

.caret {
  border-width: 5px;
}

.dropdown-header-item {
  display: block;
}
.menu-user-name {
  font-weight: bold;
}

.dropdown-menu.caret-menu::after {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  border-style: solid;
  background: white;
  border-right:1px solid #CAD5E0;
  border-bottom:1px solid #CAD5E0;
  border-left: none;
  border-top: none;
  transform:rotate(-135deg);
  z-index: 9999;
}

.dropdown-menu.caret-menu.new-repo-menu::after {
  right: 18px;
  top: -6px;
}

.avatar {
  width: 20px;
}

/* Header style end */

/* Main content style start */

.row .right-side-content.col-lg-4.no-gutter {
  padding-right:0;
  padding-left:0;
}

/*Button with user menu start*/

.content-avatar {
  width: 30px;
}

.menu-user-name.content {
  height: 30px;
  display: inline-block;
  line-height: 30px;
}

.dropdown-menu.user-menu {
  width: 260px;
  padding-top: 0;
}

.dropdown-menu-header {
  background-color: #F5F5F5;
  font-weight: bold;
  border: solid 1px #d8d8d8;
  border-top: none;
  padding: 8px 10px;
}

.menu-logo {
  width: 15px;
  margin-left: 7px;
}

.check-sumbol {
  display: inline-block;
  width: 20px;
  margin: -4px;
}

.hidden-symbol {
  visibility: hidden;
}

.switch-dasboard-content {
  color: #ccc
}

.switch-dasboard-content:hover {
  color: black;
}

.support-menu-logo {
  width: 30px;
  margin-left: -10px;
}

.plus-symbol {
  margin-right: 10px;
}

.dropdown-menu.caret-menu.user-repo-menu::after {
  right: 24px;
  top: -6px;
}

/*Button with user menu end*/

/*Dashboard start*/

.dashboard {
  border: solid 1px #d8d8d8;
  margin-top: 15px;
  padding: 5px;
}

.icon-button-dashboard-wrapper {
  padding-right: 10px;
  font-weight: bold;
}

.support-icon {
  width: 40px;
}

.dashboard-header {
  display: inline-block;
  margin: 0 0 0 45px;
  font-size: 18px;
}

.close-news {
  float: right;
  padding: 0;
  background: transparent;
  border: 0;
  outline: none;
}

.dashboard-menu-wrapper {
  margin-left: 10px;
}

.dashboard-paragraph {
  margin: 10px 0 10px 45px;
}

.dashboard-menu-list {
  margin-left: 20px; 
}

.inset-picture {
  float: right;
  margin-bottom: 15px;
  margin-left: 20px;
}

.news-list-item {
  margin-bottom: 10px;
}

/*Dashboard end*/

/*Forked repo start*/

.panel.panel-default {
  border: none;
}
.last-commits-panel {
  margin-top: 25px;
}

.commits-panel {
  padding: 10px;
  border-top: 1px solid #f1f1f1;
}

.fork-symbol {
  width: 15px;
  margin-right: 5px;
}

.text-link {
  color: #4078C0;
  text-decoration: none;
}

.forked-date {
  color: #BBBBBB;
}

/*Forked repo end*/

/*Information part start*/

.textinfo {
  text-align: center;
  margin-top: 30px;
}

.textinfo-symbol {
  width: 17px;
}

.bold-text {
  font-weight: bold;
}

.subscribe-link-news {
  text-decoration: none;
  color: black;
}

.link-wrapper {
  margin-top: 15px;
}

/*Information part end*/

/*News-blog panel start*/

.news-content {
  padding: 10px 14px 10px 10px;
  border: solid 1px #4078c0;
  border-radius: 3px;
}

.news-content-header-picture{
  width: 10%;
  float: left;
}

.news-content-header-heading {
  font-size: 18px;
  width: 80%;
  margin-left: 5%;
  margin-bottom: 2%;
  line-height: 1.2;
  display: inline-block;
  float: left;
}

.news-addition-info {
  margin-left: 15%;
}
      
/*News-blog panel end*/

/*Broadcasts start*/

.broadcasts {
  margin: 10px 0;
}

.broadcasts-text {
  float: right;
}

/*Broadcasts end*/

/*Contributes repositories start*/

.panel-heading {
  padding: 9px 10px 10px;
  margin: 0;
  font-size: 13px;
  font-weight: bold;
  line-height: 17px;
  background-color: #f5f5f5;
  border: 1px solid #d8d8d8;
  border-radius: 3px 3px 0 0;
}

.panel-heading-text {
  margin-top: 5px;
  display: inline-block;
}

.panel-item {
  color: #666;
  background: #fff;
  border: 1px solid #d8d8d8;
  border-top: none;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 6px;
}

.contribute-logo {
  width: 24px;
  margin-right: 3%;
}

.repository-info {
  display: inline-block;
  float: right;
}

.total-amount {
  margin-left: 5px;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
  background-color: #babec0;
  border-radius: 20px;
}

/*Contributes repositories end*/

/*Repositories panel start*/

.repositories-navigation {
  padding: 10px 10px 0 10px;
  text-align: center;
}

.new-repository-link { 
  padding: 3px 10px;
  font-size: 12px;
  line-height: 20px;
  background-color: #6cc644;
  background-image: linear-gradient(#91dd70, #55ae2e);
  border: 1px solid #5aad35;
  border-radius: 3px;
  text-decoration: none;
  color: white;
  float: right;
}

.new-repository-link:hover {
  text-decoration: none;
  color: white;
  background-color: #55a532;
  background-image: linear-gradient(#85d063, #4f992f);
  border-color: #519d30;
}

.form-control {
  margin-bottom: 5px;
}

.repositories-buttons {
  padding-left: 0;
  list-style: none;
  margin-top: 5px;
}

.repositories-buttons-item {
  display: inline-block;
}

.repository-button {
  padding: 5px 5px 0px;
  margin-right: 5px;
  border: 0;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  outline: none;
}

.repository-button:hover {
  border-bottom: 2px solid #E5E5E5;
}

.check-button {
  border-bottom: 2px solid #D26911;
}


/*Repositories panel end*/

/* Main content style start */

/*Footer start*/

.footer {
  margin-top: 40px;
  padding: 40px 0;
  color: #767676;
  border-top: 1px solid #eee;
  font-size: 12px;
}

.left-wrap {
  padding: 0px;
  margin-bottom: 5px;
}

.right-wrap {
  padding: 0px;
  text-align: right;
}

.footer-logo {
  display: inline-block;
  text-align: center;
  margin-bottom: 5px;
}

.footer-logo-picture {
  width: 24px;
}

.footer-links-wrap * {
  margin: 0 10px 0 0;
}

/*Footer end*/

/*------------------------------------------User page styles------------------------------------------------------------*/

/*main content start*/

/*user-information start*/

.user-avatar-picture {
  height: 230px;
  max-width: 100%;
  border-radius: 6px;
  border: 3px solid #F8E7DF;
}

.user-nickname {
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: #666;
  margin-bottom: 16px;
}

.biography {
  margin-bottom: 16px;
}

.organizations {
  padding-top: 16px;
  padding-bottom: 16px;
  border-top: 1px solid #e5e5e5; 
}

.organizations-logo {
  width: 30px;
}

.organizations-heading {
  font-weight: bold;
}

/*user-information start*/

/*all main user content start */

.all-user-main-content.col-lg-9 {
  padding-right: 0px;
}

/*user repo navigation start*/

.user-page-repo-nav {
  border-bottom: solid 1px #ddd;
}

.total-amount.user-amount-info {
  color: #666;
  background-color: #eee
}

.user-repo-nav-link.active-link {
  color: #333;
  border-bottom-color: #c9510c;
  border-radius: 0px;
}

.user-repo-nav-link.active-link:focus, .user-repo-nav-link.active-link:hover {
  background-color: transparent;
}

div ul li .user-repo-nav-link {
  border-radius: 0px;
  display: table-cell;
  padding: 15px 20px;
  font-size: 14px;
  color: #767676;
  vertical-align: middle;
  border-bottom: 2px solid transparent; 
}

.nav.nav-pills .user-repo-nav-link:focus {
  background-color: transparent;
} 

.nav.nav-pills .user-repo-nav-link:hover {
  color: #333;
  background-color: transparent;
}
  
/*user repo navigation end*/

/*user repositories panel start*/

.repositories-panel {
  margin-bottom: 24px;
}

.repositories-panel-title {
  margin-top: 30px;
}

.repositories-panel-main-heading {
  font-weight: normal;
  float: left;
  font-size: 16px;
  margin-top: 0px;
}

.repositories-panel-customize-heading {
  float: right;
  font-size: 13px;
  font-weight: normal;
}

.repositories-panel-title-link {
  color: #767676;
}

.repositories-panel-title-link:hover, .repositories-panel-title-link:focus {
  color: #4078c0;
  text-decoration: none;
}

.repositories-tables-list {
  list-style: none;
  padding: 0;
}

.repositories-tables-item {
  display: flex;
}

.repositories-tables-item-content {
  width: 418px;
  display: inline-block;
  border: 1px #ddd solid;
  display: inline-block;
  box-sizing: border-box;
  padding: 16px 16px 7px 16px;
  margin-bottom: 16px;
  border-radius: 3px;
  font-size: 12px;
  color: #767676;
}

.first-in-row {
  margin-right: 10px;
}

.repo-item-header {
  font-weight: bold;
  color: #4078c0;
  font-size: 16px;
}
.repo-item-header a {
  color: #337ab7;
}

.repo-item-ongoing {
  margin-bottom: 8px;
}

.repo-item-description {
  margin: 8px 0 16px 0;
}

.language-logo {
  width: 12px;
  height: 12px;
  margin-bottom: -2px;
  background-color: grey;
  border-radius: 50%;
  display: inline-block;
}

/*user repositories panel end*/

/*contribution activity panel start*/

.last-year-contribution-amount {
  float: left;
  font-size: 16px;
  margin-bottom: 8px;
}

.contribution-settings {
  float: right;
}

#contribution-settings-button {
  font-size: 13px;
  background-color: transparent;
  border: 0; 
  padding: 0;
  text-decoration: none;
  background-image: none;
  box-shadow: none;
}

#contribution-settings-button:hover {
  color: #4078C0;
}

.close-news.user-page-contribution-activity-menu {
  color: #ccc;
}

.close-news.user-page-contribution-activity-menu:hover {
  color: black;
}

.check-item {
  border-bottom: 1px solid #ddd;
}

.check-item .glyphicon.glyphicon-ok {
  color: transparent;
}

.check-item.checked-item.active .glyphicon.glyphicon-ok {
  color: white;
}

.check-item.checked-item .glyphicon.glyphicon-ok {
  color: black;
}

.dropdown-menu.user-menu.user-page-contribution-activity-menu {
  width: 328px;
  left: -192px;
  margin-top: 4px;
  margin-bottom: 20px;
  overflow: hidden;
  font-size: 12px;
  color: #666;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(200,200,200,0.4);
  border-radius: 3px;
  box-shadow: 0 3px 12px rgba(0,0,0,0.15);
}

.dropdown-menu.user-menu.user-page-contribution-activity-menu:after {
  display: none;
}

.dropdown-menu-header.user-page-contribution-activity-menu {
  padding: 8px 10px;
  line-height: 16px;
  background: #f5f5f5;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.close-news.user-page-contribution-activity-menu {
  color: #ccc;
}

.user-page-contribution-activity-menu-selected-header {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

.user-page-contribution-activity-menu-selected-discrip {
  display: block;
  text-align: left;
  white-space: pre-wrap;
  margin: 5px 0 0 25px;
}

/*activity panel body start*/

.contribution-activity-panel-body {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 32px;
  border-radius: 3px;
  border: 1px solid #e5e5e5; 
}

.month-listm,.week-days-list, .visual-count-color-blocks {
  list-style: none;
}

.activity-panel-list-item {
  font-size: 10px;
  color: #767676;
}

.month-item {
  margin-left: 40px;
  display: inline-block;
}

.week-days-list {
  padding-top: 6px;
  padding-left: 29px;
  float: left;
  width: 59px;
}

.week-days-item {
  margin-bottom: 10px;
}

.each-days-activity-panel {
  float: left;
  width: 748px;
  height: 77px;
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
}

.each-days-activity-panel-item {
  height: 11px;
  width: 11px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid white;
}

.contribution-activity-panel-contribution-count {
  padding: 0 25px;
}

.learn-how-to-count-contribution {
  float: left;
}

.learn-how-to-count-contribution-link:hover {
  color: #4078C0;
}

.visual-count {
  float: right;
  line-height: 100%;
}

.visual-count-color-blocks {
  float: left;
  padding: 0 10px;
}

.visual-count-panel-text {
  display: inline-block;
  float: left;
  font-size: 11px;
}

.visual-count-color-block-item {
  display: inline-block;
  width: 10px;
  height: 10px;
  box-sizing: border-box;
}

.visual-count-color-block-item.first-item {
  background-color: #eee;
}

.visual-count-color-block-item.second-item {
  background-color: #D6E685;
}

.visual-count-color-block-item.third-item {
  background-color: #8CC665;
}

.visual-count-color-block-item.fourth-item {
  background-color: #44A340;
}

.visual-count-color-block-item.fourth-item {
  background-color: #1E6823;
}

.custom-tooltip + .tooltip > .tooltip-inner {
  padding: 10px;
  max-width: 215px;
  width: 215px;
  /*white-space: nowrap;*/
}

.tooltip-text {
  color: grey;
}

/*activity panel body end*/

/*contribution activity panel start*/

/*text contribution activity panel start*/

.contribution-activity-panel-year-buttons {
  width: 11%;
  float: right;
}

.contribution-activity-panel-year-buttons .list-group {
  box-shadow: none;
}

.contribution-activity-panel-year-buttons .list-group-item {
  padding: 8px 16px;
  margin: 0 0 2px;
  font-size: 12px;
  text-decoration: none;
  border-radius: 3px;
  border: none;
  box-shadow: none;
  text-align: center;
}

.contribution-activity-text-panel-text-header {
  width: 89%;
}

.contribution-activity-panel-header-link {
  float: right;
}

.dropdown.jump-to {
  margin-right: 32px;
  list-style: none;
}

.jump-to-text {
  font-size: 13px;
  margin-right: 2px;
}

.dropdown.jump-to:hover span {
  color: #4078c0;
}

.dropdown-toggle.plus-caret.hover-item:focus, .dropdown-toggle.plus-caret.hover-item:hover {
  text-decoration: none;
}

.turn-to-repo-menu {
  top: 26px;
  left: -82px;
}

.dropdown-menu.caret-menu.turn-to-repo-menu::after {
  top: -6px;
  left: 132px;
}

.contribution-activity-text-panel-body {
  width: 89%;
  padding-left: 25px;
}

.contribution-activity-text-panel-body-heading {
  padding: 4px 8px 4px 0;
}

.bold-text-month {
  font-weight: bold;
  display: inline-block;
  float: left;
}

.year-text {
  float: left;
  display: inline-block;
  margin-left: 5px;
}

.commits-container-heding {
  margin-left: -65px;
  margin-top: -11px;
  z-index: 23;
  background-color: white;
  width: 14%;
  margin-bottom: 20px;
}

.commits-container {
  padding-left: 40px;
  border: 1px solid #f5f5f5;
  border-right: none;
  border-bottom: 1px solid transparent;
  padding-bottom: 20px;
}

.conmmit-symbol-container {
  text-align: center;
  position: absolute;
  left: 29px;
  background-color: #f3f3f3;
  width: 25px;
  display: inline-block;
  border-radius: 50%;
}

.commits-link {
  font-size: 16px;
  color: #767676;
  text-decoration: none;
}

.commits-link:hover, .commits-link:focus {
  color: #4078c0;
  text-decoration: none;
}

.commit-symbol {
  width: 16px;
}

.commits-list-symbol {
  float: right;
  width: 18px;
  margin-right: 15px;
}

.commits-list {
  margin-top: 15px;
  list-style: none;
  padding-left: 0px;
  margin-bottom: 40px;
}

.commits-list-item {
  margin: 10px 0px;
}

.commits-amount-link {
  font-size: 12px;
  margin-left: 4px;
}

.commits-progress {
  width: 20%;
  height: 8px;
  float: right;
  margin-bottom: 0px;
  margin-top: 6px;
  box-shadow: none;
  background-image: none;
  background-color: transparent;
  border-radius: 2px;
}

.progr-com {
  background-image: none;
  border-radius: 2px;
  box-shadow: none;
}

.high-over-fifty-procent {
  background-color: #1E6823;
}

.over-fifty-procent {
  background-color: #8CC665
}

.less-fifty-procent {
  background-color: #D6E685;
}

.more-activity {
  background-color: #f5f5f5;
  width: 100%;
  padding: 6px;
  font-weight: 600;
  color: #4078c0;
  background: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 8px 0;
  width: 89%;
  font-size: 12px ;
}

.more-activity:hover {
background-color: #f5f5f5;
}

.profil-guide {
  font-size: 12px;
  margin-top: 24px;
}


/*text contribution activity panel end*/

/*contribution activity panel end*/

/*all main user content end */